<!DOCTYPE html>
<html>
  <head>
    <title>Ojalabook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- Navbar-->
    <div class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
              <a href="#" class="navbar-brand"> Ojalabook </a>  

              <ul class="nav navbar-nav">
                  <li class="active"> <%= link_to "Status", statuses_path %> </li>
              </ul>  
        </div>

    </div>



    <div class="container">
      <%= yield %>  
    </div>

    
  </body>
</html>
